
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="{% url 'index' %}" method="POST">
    {% csrf_token %}
    <label for="song-search">Search for songs/artist</label>
    <input type="text" name="song-search" id="song-search">
    <button type="submit" id="search-btn">Search</button>
</form>
   <p>
   {{result}}
   </p> 
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
</body>
<script>
    
</script>
</html>